<app-cyber-layout>

  <form class="cyber-form" (submit)="submitForm($event)">

    <!-- Encabezado -->
    <h2 class="cyber-title">CAMBIO DE CONTRASEÑA</h2>
    <p class="cyber-text">
      Ingresa y confirma tu nueva contraseña.
    </p>

    <!-- Nueva Contraseña -->
    <div class="cyber-input-group">
      <label for="new-password">Nueva Contraseña</label>
      <div class="input-wrapper">
        <input
          [type]="mostrarNueva ? 'text' : 'password'"
          id="new-password"
          name="nuevaPass"
          [(ngModel)]="nuevaPass"
          placeholder="••••••••"
          required
        >
        <span class="material-symbols-outlined icono-toggle" (click)="toggleNueva()">{{ mostrarNueva ? 'visibility_off' : 'visibility' }}</span>
      </div>
    </div>

    <!-- Confirmar Contraseña -->
    <div class="cyber-input-group">
      <label for="confirm-password">Confirmar Contraseña</label>
      <div class="input-wrapper">
        <input
          [type]="mostrarConfirmacion ? 'text' : 'password'"
          id="confirm-password"
          name="confirmarPass"
          [(ngModel)]="confirmarPass"
          placeholder="••••••••"
          required
        >
        <span class="material-symbols-outlined icono-toggle" (click)="toggleConfirmacion()">{{ mostrarConfirmacion ? 'visibility_off' : 'visibility' }}</span>
      </div>
    </div>

    <!-- Acción Principal -->
    <button type="submit" class="cyber-btn" [disabled]="cargando">
      {{ cargando ? 'ACTUALIZANDO...' : 'CONFIRMAR CAMBIO' }}
    </button>

  </form>

</app-cyber-layout>
